* {
  font-family: "Sans";
}
body {
  /* background-color: antiquewhite; */
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  position: relative;
}
.cloud {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 1;
}
.content {
  position: relative;
  z-index: 99;
  background-color: transparent;
  height: 90%;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.content > div {
  color: black;
}
.navBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: lightblue;
  align-items: end;
  /* background-color: lightblue; */
}
input[type="text"] {
  float: right;
  padding: 10px 10px;
  border-radius: 99px;
  width: 12%;
}
.error-message {
  display: none;
  width: 12%;
  margin-top: 5px;
}

.row-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-column {
  /* background-color: aquamarine; */
  max-width: 60%;
  width: 60%;
  color: white;
  height: 100%;
  position: relative;
  /* padding-top: 50px; */
  /* display: flex;
  align-items: center; */
}
.city-description {
  position: absolute;
  top: 15%;
}
/* .slide-in {
  opacity: 1;
  transform: translate(0);
} */
.slide-In1 {
  animation: slide-In1 0.8s;
}
.slide-In2 {
  animation: slide-In2 1.1s;
}

@keyframes slide-In1 {
  0% {
    opacity: 0;
    margin-top: 10px;
  }
  100% {
    opacity: 1;
    margin-top: 5px;
  }
}
@keyframes slide-In2 {
  0% {
    opacity: 0.1;
    transform: translate(30%, -5px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*  LEFT COLUMN */
.city-header {
  font-size: 40px;
  margin-top: 75px;
  margin-bottom: 5px;
}
.weather-description {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 400;
}
.temp-and-time {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: beige; */
  gap: 15px;
}
.temp-holder {
  display: flex;
  flex-direction: row;
}
.temp-holder span {
  font-size: 35px;
}
.temp {
  margin-top: 0;
  /* padding-top:  */
  font-size: 140px;
  line-height: 1;
}
.time-and-date {
  border-left: 2px solid white;
  height: fit-content;
  margin-top: 20px;
  padding-left: 15px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.date {
  margin-bottom: 5px;
}
.current-time {
  margin-top: 5px;
  margin-bottom: 5px;
}
.high-low {
  margin-top: 5px;
  margin-bottom: 0;
}
/* RIGHT COLUMN */
.right-column {
  background-color: transparent;
  /* width: 100%;
   */
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.info-container {
  /* float: right; */
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  gap: 18px;
}
.info-item p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 19px;
}
.metric {
  font-weight: bold;
}

.material-symbols-outlined {
  font-size: 20px;
  color: white;
}
.icon-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.feelsLike-holder {
  color: white;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.temp-symbol {
  color: white;
  font-weight: 400;
  font-size: 14px;
}
